<nav class="bs_desktopMenu">
  <ul class="bs_desktopMenu_list">
    <li class="bs_desktopMenu_item">
      <a class="bs_desktopMenu_link" href="/">
        Home
      </a>
      <div class="bs_desktopMenu_underline"></div>
    </li>
    {{ with .Site.GetPage "/repairs" }}
      <li class="bs_desktopMenu_item">
        <a class="bs_desktopMenu_link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        <div class="bs_desktopMenu_underline"></div>
      </li>
    {{end}}
    {{ with .Site.GetPage "/supplies" }}
      <li class="bs_desktopMenu_item">
        <a class="bs_desktopMenu_link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        <div class="bs_desktopMenu_underline"></div>
      </li>
    {{end}}
    {{ with .Site.GetPage "/journal" }}
      <li class="bs_desktopMenu_item">
        <a class="bs_desktopMenu_link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        <div class="bs_desktopMenu_underline"></div>
      </li>
    {{end}}
  </ul>
</nav>