<nav class="bs_desktopMenu">
  <ul class="bs_desktopMenu_list">
    <li class="bs_desktopMenu_item">
      <a class="bs_desktopMenu_link" href="/">
        Home
      </a>
    </li>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li class="bs_desktopMenu_item">
        <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
</nav>