.bs_desktopMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $spacing_3;
  z-index: 1;

  &.scrolled {
    background: white;
    color: black;
  }
}

.bs_desktopMenu_list {
  display: flex;
  padding: 0;
  margin: 0;
}

.bs_desktopMenu_item {
  padding: 0;
  margin: 0;
  margin-right: $spacing_3;
  list-style: none;
}

.bs_desktopMenu_link {
  color: white;
  font-weight: 500;
}