.bs_footer {
  background: white;
}

.bs_footerContents {
  display: flex;
  padding: $spacing_3;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $bp_1) {
    flex-direction: row;
  }
}

.bs_footer_logo {
  width: 12rem;
}

.bs_footer_blockA, .bs_footer_blockB {
  margin-top: $spacing_2;
  line-height: 1.7em;

  @media (min-width: $bp_1) {
    margin-top: 0;
    margin-left: $spacing_4;
  }

  p {
    margin: 0;
    color: $ink;
  }

  a {
    color: $accent_color;
  }
}