// Spacing
$spacing_1: 0.55rem;
$spacing_2: 1.1rem;
$spacing_3: 2.2rem;
$spacing_4: 4.4rem;
$spacing_5: 8.8rem;

// Typography
$typography_1: 2.5rem;
$typography_2: 2.0rem;
$typography_3: 1.5rem;
$typography_4: 1.25rem;
$typography_5: 1rem;
$typography_6: 0.8rem;

// Colours
$ink: rgb(46, 49, 51);
$ink_light: rgb(151, 156, 159);
$grey: rgb(182, 196, 200);
$light_grey: rgb(240, 242, 244);
$blue: rgb(37, 79, 207);
$bright_bg_color: rgb(250, 248, 243);
$dark_bg_color: rgb(41, 41, 38);
$mid_bg_color: rgb(182, 184, 180);

// Fonts
@font-face {
  font-family: 'interstate';
  src: url('../fonts/interstate-bold-webfont.woff2') format('woff2'),
       url('../fonts/interstate-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../fonts/interstate-regular-webfont.woff2') format('woff2'),
       url('../fonts/interstate-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interstate';
  src: url('../fonts/interstate-regularitalic-webfont.woff2') format('woff2'),
       url('../fonts/interstate-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

$body_font: 'interstate', sans-serif;
$accent_font: Times, 'Times New Roman', serif;

html {
  font-size: 1.1em;
  font-family: $body_font;
  background-color: $light_grey;
}

body {
  color: $ink;
}

a {
  text-decoration: none;
}

.shadow-button {
  background: white;
  color: $dark_bg_color;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 0.5em 1em rgba(0, 0, 0, 0.2);
  padding: 0.6em 2em;
  font-size: $typography_6;
  font-weight: bold;
  display: inline-block;
  transition: opacity 0.2s;
  border-radius: 2px;

  &:hover {
    opacity: 0.7;
  }
}
