.bs_hero {
  min-height: 80vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bs_heroContent {
  display: flex;
  margin: $spacing_3;
  align-items: center;
  width: 60rem;
}

.bs_heroLogo {
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: 30%;
  background-color: rgba(255, 255, 255, 0.2);
}

.bs_heroText {
  flex: 1 1 auto;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: $typography_2;
  margin-left: $spacing_3;
}

.bs_homeSections {
  background: white;
}

.bs_homeSection {
  color: $ink;
  padding: $spacing_4 $spacing_3;
  padding-right: 0;
  display: flex;
  align-items: stretch;
}

.bs_homeSection_title {
  font-family: $accent_font;
  font-size: $typography_1;
  font-weight: normal;
  margin-top: 0;
}

.bs_homeSection_divider {
  width: 4em;
  height: 0.2em;
  background-color: $grey;
  margin-left: $spacing_3;
}

.bs_homeSection_seeMore {
  @extend .shadow-button;
  margin-top: $spacing_3;
}

.bs_homeSection_textBlock {
  flex: 6;
  padding-right: $spacing_3;
  line-height: 1.6em;
}

.bs_homeSection_imageBlock {
  flex: 5;
  height: 16em;
  background-size: cover;
}

.bs_homeSuppliesSection_productsBlock {
  flex: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bs_homeSuppliesSection_productItem {
  width: 32%;
  position: relative;

  figcaption {
    font-size: $typography_5;
    font-weight: bold;
  }
}

.bs_homeSuppliesSection_productImage {
  width: 100%;
  padding-bottom: $spacing_1;
}