.bs_hero {
  min-height: 80vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bs_heroContent {
  display: flex;
  margin: $spacing_3;
  align-items: center;
  width: 60rem;
}

.bs_heroLogo {
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: 30%;
  background-color: rgba(255, 255, 255, 0.2);
}

.bs_heroText {
  flex: 1 1 auto;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: $typography_2;
  margin-left: $spacing_3;
}

.bs_homeSections {
  background: white;
}

.bs_homeSection {
  color: $ink;
  padding: $spacing_4 $spacing_3;
  padding-right: 0;
  display: flex;
}

.bs_homeSection_title {
  font-family: $accent_font;
  font-size: $typography_1;
  font-weight: normal;
  margin-top: 0;
}

.bs_homeSection_divider {
  width: 6em;
  height: 0.2em;
  background-color: $grey;
  margin-left: $spacing_3;
}

.bs_homeSection_seeMore {
  @extend .shadow-button;
  margin-top: 2em;
}

.bs_homeSection_textBlock {
  flex: 1 1 auto;
  width: 45%;
  padding-right: $spacing_3;
}

.bs_homeSection_imageBlock {
  flex: 1 1 auto;
  width: 55%;
}

.bs_homeSection_image {
  width: 100%;
}
