/*
  Define your resets here or use something like Normalize.css if you like
 */

html,
body,
figure {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}