{{ block "header" . }}{{ partial "header" . }}{{end}}

{{ block "desktop-menu" . }}{{ partial "desktop-menu" . }}{{end}}

{{ block "mobile-menu" . }}{{ partial "mobile-menu" . }}{{end}}

<main aria-role="main">
  <section class="bs_hero" style="background-image: url('{{ .Site.Params.cloudinary_url }}/c_fill,g_center,h_2000,q_50,w_2000{{ .Params.hero_image }}')">
    <div class="bs_heroContent">
      <div class="bs_heroLogo_wrapper">
        <img class="bs_heroLogo" src="{{ $.Site.Params.cloudinary_url }}/w_1200{{ .Params.logo }}" alt="Be Seated logo" />
      </div>
      <h1 class="bs_heroText">{{ .Params.hero_text }}</h1>
    </div>
  </section>
  <div class="bs_homeSections">
    {{ with .Site.GetPage "/repairs" }}
      <section class="bs_homeRepairsSection bs_homeSection">
        <div class="bs_homeSection_textBlock">
            <h2 class="bs_homeRepairsSection_title bs_homeSection_title">{{ .Title }}</h2>
            <div class="bs_homeRepairsSection_summary bs_homeSection_summary">
              {{ .Params.summary }}
            </div>
            <a href="{{ .Permalink }}" class="bs_homeSection_seeMore">See more</a>
        </div>
        <div class="bs_homeSection_imageBlock" style="background-image: url('{{ .Site.Params.cloudinary_url }}/c_fill,g_center,h_1600,q_70,w_1600{{ .Params.home_image }}')"></div>
      </section>
    {{end}}

    <div class="bs_homeSection_divider"></div>

    {{ with .Site.GetPage "/supplies" }}
      <section class="bs_homeSuppliesSection bs_homeSection">
        <div class="bs_homeSection_textBlock">
          <h2 class="bs_homeSuppliesSection_title bs_homeSection_title">{{ .Title }}</h2>
          <div class="bs_homeSuppliesSection_summary bs_homeSection_summary">
            {{ .Params.summary }}
          </div>
          <a href="{{ .Permalink }}" class="bs_homeSection_seeMore">See more</a>
        </div>
        <div class="bs_homeSuppliesSection_productsBlock">
          {{ range .Params.home_items }}
            <figure class="bs_homeSuppliesSection_productItem">
              <div class="bs_homeSuppliesSection_productImageWrapper">
                <img class="bs_homeSuppliesSection_productImage" src="{{ $.Site.Params.cloudinary_url }}/c_fill,g_center,h_400,q_70,w_400{{ .item_image }}" alt="{{ .item_name }}" />
              </div>
              <figcaption>{{ .item_name }}</figcaption>
            </figure>
          {{ end }}
        </div>
      </section>
    {{end}}
  </div>

  <section class="bs_homeJournal">
    <h3 class="bs_homeJournal_title">Journal</h3>
    {{ range first 1 ((where .Pages "Type" "journal").ByDate.Reverse) }}
      <article class="bs_homeJournal_feature">
        <div class="bs_homeJournal_featureImageBlock">
          <img class="bs_homeJournal_featureImage" src="{{ .Site.Params.cloudinary_url }}/c_fill,g_center,h_500,q_70,w_750{{ .Params.feature_image }}" />
        </div>
        <div class="bs_homeJournal_featureText">
          <h4 class="bs_homeJournal_featureTitle">{{ .Title }}</h4>
          <time class="bs_homeJournal_featureDate">{{ .Date.Format "January 2, 2006" }}</time>
          <div class="bs_homeJournal_divider"></div>
          <p class="bs_homeJournal_featureSummary">{{ .Params.summary }}</p>
          <a href="{{ .Permalink }}" class="bs_homeJournal_readMore">Read more</a>
        </div>
      </article>
    {{ end }}
  </section>
</main>

{{ block "footer" . }}{{ partial "footer" . }}{{end}}
